body, .heigth-container-fluid {
  height: 100vh;
}

#main-page {
  min-height: 100vh;
}

#google-map {
  height: 30vh;
  width: 80vw;
}

#splash {
  height: 100vh;
  width: 100vw;
  display: absolute;
}

#main-page {
  display: none;
}

.size-thumbnail {
  height: 10vh;
  width: 20vw;
}

.size-thumbnail-2 {
  height: 20vh;
  width: 40vw;
}

header a {
  color: #FFC107;
}

a:hover {
  color: #FFC107;
  text-decoration: none;
  font-weight: 700;
}

ul {
  background-color: #ffffff;
  list-style-type: none;
  color: #343A40;
  padding-left: 2vw;
  width: 75vw;
}

/* #title {
    animation-duration: 2s;
    animation-iteration-count: 2;
  } */